@model IEnumerable<PasswordManager.Models.Account>

@{
	ViewData["Title"] = "Your Accounts";
}

<h1>AccountView</h1>

<p>
	<a asp-action="Create" asp-controller="Home">Create New</a>
</p>
<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Platform)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Login)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Password)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => @item.Platform)
				</td>
				<td>
					@Html.DisplayFor(modelItem => @item.Login)
				</td>
				<td>
					@Html.DisplayFor(modelItem => @item.Password)
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", "Home", new { id = item.Id})
					|
					@Html.ActionLink("Delete", "Delete", "Home", new { id = item.Id })
					@if (ViewBag.Message != null)
					{
						<script type="text/javascript">

						 window.onload = function () {
							alert("@ViewBag.Message");
						};
						</script>

					}

				</td>
			</tr>
		}
	</tbody>
</table>


